@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
body {
background-color: #151515;
font-family: "Space Grotesk";
}

.image-profile-desktop {
display: none;
}

.font-white {
color: #FFFFFF;
}

.font-grey {
color: #D9D9D9;
}

.h2-size {
font-size: 40px;
}

.h2-sizetwo {
font-size: 32px;
}

.subtitle-size {
font-size: 16px;
}

.spacing {
letter-spacing: 2px;
}

.link-custom {
margin-left: 20px;
}

.link-linkedin {
margin-left: 20px;
}

.link-twitter {
margin-left: 20px;
}

.description {
text-align: center;
justify-content: center;
}

.h3-size {
font-size: 24px;
}
.specification-size {
font-size: 18px;
}

.project-contact {
display: flex;
flex-direction: row-reverse;
}

.underline{
text-decoration: underline;
text-decoration-color: #4EE1A0;
text-decoration-thickness: 2px;
text-underline-offset:2px;
}

input {
background-color: #252525;
border: #252525;;
}

button {
background-color: #252525;
border: #252525;
}

.footerbg {
background-color: #252525;
width: auto;
height: 380px;
}

@media screen and (max-width: 640px) {
.image-profile-tablet {
display: none;
}

.title {
font-size: 24px;
display: flex;
align-items: center;
justify-content: center;
}

.link-ensemble {
display: flex;
align-items: center;
justify-content: center;
}
    
.skills {
text-align: center;
justify-content: center;
}

.image-profile-mobile {
margin-left: 101px;
width: 174px;
height: 383px;
}

.divider {
background-color: #FFFFFF;
width: 343px;
height: 1px;
justify-content: center;
margin-top: 10px;
margin-bottom: 10px;
}

.small-thumbnail {
width: 343px;
height: 253px;
}

.large-thumbnail {
display: none;
}

input {
width: 343px;
}
}

@media screen and (min-width: 640px) {
.image-profile-mobile {
display: none;
}

.link-ensemble,.title{
display: inline;
}

.deco-rings {
margin-top: 86px;
margin-left: -265px;
}

.image-profile-tablet {
width: 322px;
height: 600px;
margin-left: 445px;
}

.deco-circle {
width: 129px;
height: 129px;
margin-top: 471px;
margin-left: 702px;  
}
.divider {
background-color: #FFFFFF;
width: 706px;
height: 1px;
justify-content: center;}

.small-thumbnail {
width: 342px;
height: 253px;
display: block;
}

.project1,.project2,.project3,.project4,.project5,.project6 {
display: flex;
flex-wrap: wrap;
}

.large-thumbnail {
display: none;
}

input {
width: 706px;
}

}

@media screen and (min-width: 770px) {
.project-desktop1:hover,.project-desktop2:hover,.project-desktop3:hover,.project4:hover,.project-desktop5:hover,.project-desktop6:hover {
opacity: 40%;
background-color: #151515;
}

.project1,.project2,.project3,.project4,.project5,.project6 {
display: none;
}

.large-thumbnail {
display: block;
width: 540px;
height: 400px;
}

.hover:hover {
color: #4EE1A0;
}

.contact-desc {
    width: 445px;
    height: 84px; 
}
}